<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @car.availability %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @car.price_per_day %>
</p>

<p>
  <strong>Rego:</strong>
  <%= @car.Rego %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @car.colour %>
</p>

<p class="owner_images">
  <% @car.owner_images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>

<% if user_owner_signed_in? %>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
<% else %>
<%= link_to 'Back', cars_path %>
<%end%>